{% extends 'base.html'%}
{% block head %}
<title>Prod list</title>
{% endblock%}

{% block body %}

<div class="top-buttons">
    <button onclick="location.href='/'">回到首頁</button>
    <h1>秒結系統(PRODUCTS)</h1>  
</div>
<table class="styled-table">
    <thead>
    <tr>
        <th>P_ID</th>
        <th>P_CATEGORY</th>
        <th>P_NAME</th>
        <th>P_PRICE</th>
    </tr>
    </thead>
    <tbody>
        {% for prod in prods %} 
            <tr>
                <td>{{prod[0]}}</td>
                <td>{{prod[1]}}</td>
                <td>{{prod[2]}}</td>
                <td>{{prod[3]}}</td>
            </tr>
        {% endfor %}        
    </tbody>
</table>

{% endblock%}

